## Date and Time

- https://www.geeksforgeeks.org/python-working-with-date-and-time-using-pandas/

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

Date Range

In [5]:
date_range = pd.date_range(start='01/01/2018', end='31/12/2018', freq='D')
date_range.shape

(365,)

In [7]:
type(date_range)

pandas.core.indexes.datetimes.DatetimeIndex

DataFrame with Dates

In [15]:
df = pd.DataFrame(date_range, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_range)))
df.head()

        date  data
0 2018-01-01    38
1 2018-01-02    96
2 2018-01-03    76
3 2018-01-04    41
4 2018-01-05    64

----

convert our date_range to a list of strings and then convert the strings to timestamps.

In [17]:
string_date_range = [str(x) for x in date_range]
string_date_range

['2018-01-01 00:00:00',
 '2018-01-02 00:00:00',
 '2018-01-03 00:00:00',
 '2018-01-04 00:00:00',
 '2018-01-05 00:00:00',
 '2018-01-06 00:00:00',
 '2018-01-07 00:00:00',
 '2018-01-08 00:00:00',
 '2018-01-09 00:00:00',
 '2018-01-10 00:00:00',
 '2018-01-11 00:00:00',
 '2018-01-12 00:00:00',
 '2018-01-13 00:00:00',
 '2018-01-14 00:00:00',
 '2018-01-15 00:00:00',
 '2018-01-16 00:00:00',
 '2018-01-17 00:00:00',
 '2018-01-18 00:00:00',
 '2018-01-19 00:00:00',
 '2018-01-20 00:00:00',
 '2018-01-21 00:00:00',
 '2018-01-22 00:00:00',
 '2018-01-23 00:00:00',
 '2018-01-24 00:00:00',
 '2018-01-25 00:00:00',
 '2018-01-26 00:00:00',
 '2018-01-27 00:00:00',
 '2018-01-28 00:00:00',
 '2018-01-29 00:00:00',
 '2018-01-30 00:00:00',
 '2018-01-31 00:00:00',
 '2018-02-01 00:00:00',
 '2018-02-02 00:00:00',
 '2018-02-03 00:00:00',
 '2018-02-04 00:00:00',
 '2018-02-05 00:00:00',
 '2018-02-06 00:00:00',
 '2018-02-07 00:00:00',
 '2018-02-08 00:00:00',
 '2018-02-09 00:00:00',
 '2018-02-10 00:00:00',
 '2018-02-11 00:00:00',
 '2018-02-12 00:00:00',
 '2018-02-13 00:00:00',
 '2018-02-14 00:00:00',
 '2018-02-15 00:00:00',
 '2018-02-16 00:00:00',
 '2018-02-17 00:00:00',
 '2018-02-18 00:00:00',
 '2018-02-19 00:00:00',
 '2018-02-20 00:00:00',
 '2018-02-21 00:00:00',
 '2018-02-22 00:00:00',
 '2018-02-23 00:00:00',
 '2018-02-24 00:00:00',
 '2018-02-25 00:00:00',
 '2018-02-26 00:00:00',
 '2018-02-27 00:00:00',
 '2018-02-28 00:00:00',
 '2018-03-01 00:00:00',
 '2018-03-02 00:00:00',
 '2018-03-03 00:00:00',
 '2018-03-04 00:00:00',
 '2018-03-05 00:00:00',
 '2018-03-06 00:00:00',
 '2018-03-07 00:00:00',
 '2018-03-08 00:00:00',
 '2018-03-09 00:00:00',
 '2018-03-10 00:00:00',
 '2018-03-11 00:00:00',
 '2018-03-12 00:00:00',
 '2018-03-13 00:00:00',
 '2018-03-14 00:00:00',
 '2018-03-15 00:00:00',
 '2018-03-16 00:00:00',
 '2018-03-17 00:00:00',
 '2018-03-18 00:00:00',
 '2018-03-19 00:00:00',
 '2018-03-20 00:00:00',
 '2018-03-21 00:00:00',
 '2018-03-22 00:00:00',
 '2018-03-23 00:00:00',
 '2018-03-24 00:00:00',
 '2018-03-25 00:00:00',
 '2018-03-26 00:00:00',
 '2018-03-27 00:00:00',
 '2018-03-28 00:00:00',
 '2018-03-29 00:00:00',
 '2018-03-30 00:00:00',
 '2018-03-31 00:00:00',
 '2018-04-01 00:00:00',
 '2018-04-02 00:00:00',
 '2018-04-03 00:00:00',
 '2018-04-04 00:00:00',
 '2018-04-05 00:00:00',
 '2018-04-06 00:00:00',
 '2018-04-07 00:00:00',
 '2018-04-08 00:00:00',
 '2018-04-09 00:00:00',
 '2018-04-10 00:00:00',
 '2018-04-11 00:00:00',
 '2018-04-12 00:00:00',
 '2018-04-13 00:00:00',
 '2018-04-14 00:00:00',
 '2018-04-15 00:00:00',
 '2018-04-16 00:00:00',
 '2018-04-17 00:00:00',
 '2018-04-18 00:00:00',
 '2018-04-19 00:00:00',
 '2018-04-20 00:00:00',
 '2018-04-21 00:00:00',
 '2018-04-22 00:00:00',
 '2018-04-23 00:00:00',
 '2018-04-24 00:00:00',
 '2018-04-25 00:00:00',
 '2018-04-26 00:00:00',
 '2018-04-27 00:00:00',
 '2018-04-28 00:00:00',
 '2018-04-29 00:00:00',
 '2018-04-30 00:00:00',
 '2018-05-01 00:00:00',
 '2018-05-02 00:00:00',
 '2018-05-03 00:00:00',
 '2018-05-04 00:00:00',
 '2018-05-05 00:00:00',
 '2018-05-06 00:00:00',
 '2018-05-07 00:00:00',
 '2018-05-08 00:00:00',
 '2018-05-09 00:00:00',
 '2018-05-10 00:00:00',
 '2018-05-11 00:00:00',
 '2018-05-12 00:00:00',
 '2018-05-13 00:00:00',
 '2018-05-14 00:00:00',
 '2018-05-15 00:00:00',
 '2018-05-16 00:00:00',
 '2018-05-17 00:00:00',
 '2018-05-18 00:00:00',
 '2018-05-19 00:00:00',
 '2018-05-20 00:00:00',
 '2018-05-21 00:00:00',
 '2018-05-22 00:00:00',
 '2018-05-23 00:00:00',
 '2018-05-24 00:00:00',
 '2018-05-25 00:00:00',
 '2018-05-26 00:00:00',
 '2018-05-27 00:00:00',
 '2018-05-28 00:00:00',
 '2018-05-29 00:00:00',
 '2018-05-30 00:00:00',
 '2018-05-31 00:00:00',
 '2018-06-01 00:00:00',
 '2018-06-02 00:00:00',
 '2018-06-03 00:00:00',
 '2018-06-04 00:00:00',
 '2018-06-05 00:00:00',
 '2018-06-06 00:00:00',
 '2018-06-07 00:00:00',
 '2018-06-08 00:00:00',
 '2018-06-09 00:00:00',
 '2018-06-10 00:00:00',
 '2018-06-11 00:00:00',
 '2018-06-12 00:00:00',
 '2018-06-13 00:00:00',
 '2018-06-14 00:00:00',
 '2018-06-15 00:00:00',
 '2018-06-16 00:00:00',
 '2018-06-17 00:00:00',
 '2018-06-18 00:00:00',
 '2018-06-19 00:00:00',
 '2018-06-20 00:00:00',
 '2018-06-21 00:00:00',
 '2018-06-22 00:00:00',
 '2018-06-23 00:00:00',
 '2018-06-24 00:00:00',
 '2018-06-25 00:00:00',
 '2018-06-26 00:00:00',
 '2018-06-27 00:00:00',
 '2018-06-28 00:00:00',
 '2018-06-29 00:00:00',
 '2018-06-30 00:00:00',
 '2018-07-01 00:00:00',
 '2018-07-02 00:00:00',
 '2018-07-03 00:00:00',
 '2018-07-04 00:00:00',
 '2018-07-05 00:00:00',
 '2018-07-06 00:00:00',
 '2018-07-07 00:00:00',
 '2018-07-08 00:00:00',
 '2018-07-09 00:00:00',
 '2018-07-10 00:00:00',
 '2018-07-11 00:00:00',
 '2018-07-12 00:00:00',
 '2018-07-13 00:00:00',
 '2018-07-14 00:00:00',
 '2018-07-15 00:00:00',
 '2018-07-16 00:00:00',
 '2018-07-17 00:00:00',
 '2018-07-18 00:00:00',
 '2018-07-19 00:00:00',
 '2018-07-20 00:00:00',
 '2018-07-21 00:00:00',
 '2018-07-22 00:00:00',
 '2018-07-23 00:00:00',
 '2018-07-24 00:00:00',
 '2018-07-25 00:00:00',
 '2018-07-26 00:00:00',
 '2018-07-27 00:00:00',
 '2018-07-28 00:00:00',
 '2018-07-29 00:00:00',
 '2018-07-30 00:00:00',
 '2018-07-31 00:00:00',
 '2018-08-01 00:00:00',
 '2018-08-02 00:00:00',
 '2018-08-03 00:00:00',
 '2018-08-04 00:00:00',
 '2018-08-05 00:00:00',
 '2018-08-06 00:00:00',
 '2018-08-07 00:00:00',
 '2018-08-08 00:00:00',
 '2018-08-09 00:00:00',
 '2018-08-10 00:00:00',
 '2018-08-11 00:00:00',
 '2018-08-12 00:00:00',
 '2018-08-13 00:00:00',
 '2018-08-14 00:00:00',
 '2018-08-15 00:00:00',
 '2018-08-16 00:00:00',
 '2018-08-17 00:00:00',
 '2018-08-18 00:00:00',
 '2018-08-19 00:00:00',
 '2018-08-20 00:00:00',
 '2018-08-21 00:00:00',
 '2018-08-22 00:00:00',
 '2018-08-23 00:00:00',
 '2018-08-24 00:00:00',
 '2018-08-25 00:00:00',
 '2018-08-26 00:00:00',
 '2018-08-27 00:00:00',
 '2018-08-28 00:00:00',
 '2018-08-29 00:00:00',
 '2018-08-30 00:00:00',
 '2018-08-31 00:00:00',
 '2018-09-01 00:00:00',
 '2018-09-02 00:00:00',
 '2018-09-03 00:00:00',
 '2018-09-04 00:00:00',
 '2018-09-05 00:00:00',
 '2018-09-06 00:00:00',
 '2018-09-07 00:00:00',
 '2018-09-08 00:00:00',
 '2018-09-09 00:00:00',
 '2018-09-10 00:00:00',
 '2018-09-11 00:00:00',
 '2018-09-12 00:00:00',
 '2018-09-13 00:00:00',
 '2018-09-14 00:00:00',
 '2018-09-15 00:00:00',
 '2018-09-16 00:00:00',
 '2018-09-17 00:00:00',
 '2018-09-18 00:00:00',
 '2018-09-19 00:00:00',
 '2018-09-20 00:00:00',
 '2018-09-21 00:00:00',
 '2018-09-22 00:00:00',
 '2018-09-23 00:00:00',
 '2018-09-24 00:00:00',
 '2018-09-25 00:00:00',
 '2018-09-26 00:00:00',
 '2018-09-27 00:00:00',
 '2018-09-28 00:00:00',
 '2018-09-29 00:00:00',
 '2018-09-30 00:00:00',
 '2018-10-01 00:00:00',
 '2018-10-02 00:00:00',
 '2018-10-03 00:00:00',
 '2018-10-04 00:00:00',
 '2018-10-05 00:00:00',
 '2018-10-06 00:00:00',
 '2018-10-07 00:00:00',
 '2018-10-08 00:00:00',
 '2018-10-09 00:00:00',
 '2018-10-10 00:00:00',
 '2018-10-11 00:00:00',
 '2018-10-12 00:00:00',
 '2018-10-13 00:00:00',
 '2018-10-14 00:00:00',
 '2018-10-15 00:00:00',
 '2018-10-16 00:00:00',
 '2018-10-17 00:00:00',
 '2018-10-18 00:00:00',
 '2018-10-19 00:00:00',
 '2018-10-20 00:00:00',
 '2018-10-21 00:00:00',
 '2018-10-22 00:00:00',
 '2018-10-23 00:00:00',
 '2018-10-24 00:00:00',
 '2018-10-25 00:00:00',
 '2018-10-26 00:00:00',
 '2018-10-27 00:00:00',
 '2018-10-28 00:00:00',
 '2018-10-29 00:00:00',
 '2018-10-30 00:00:00',
 '2018-10-31 00:00:00',
 '2018-11-01 00:00:00',
 '2018-11-02 00:00:00',
 '2018-11-03 00:00:00',
 '2018-11-04 00:00:00',
 '2018-11-05 00:00:00',
 '2018-11-06 00:00:00',
 '2018-11-07 00:00:00',
 '2018-11-08 00:00:00',
 '2018-11-09 00:00:00',
 '2018-11-10 00:00:00',
 '2018-11-11 00:00:00',
 '2018-11-12 00:00:00',
 '2018-11-13 00:00:00',
 '2018-11-14 00:00:00',
 '2018-11-15 00:00:00',
 '2018-11-16 00:00:00',
 '2018-11-17 00:00:00',
 '2018-11-18 00:00:00',
 '2018-11-19 00:00:00',
 '2018-11-20 00:00:00',
 '2018-11-21 00:00:00',
 '2018-11-22 00:00:00',
 '2018-11-23 00:00:00',
 '2018-11-24 00:00:00',
 '2018-11-25 00:00:00',
 '2018-11-26 00:00:00',
 '2018-11-27 00:00:00',
 '2018-11-28 00:00:00',
 '2018-11-29 00:00:00',
 '2018-11-30 00:00:00',
 '2018-12-01 00:00:00',
 '2018-12-02 00:00:00',
 '2018-12-03 00:00:00',
 '2018-12-04 00:00:00',
 '2018-12-05 00:00:00',
 '2018-12-06 00:00:00',
 '2018-12-07 00:00:00',
 '2018-12-08 00:00:00',
 '2018-12-09 00:00:00',
 '2018-12-10 00:00:00',
 '2018-12-11 00:00:00',
 '2018-12-12 00:00:00',
 '2018-12-13 00:00:00',
 '2018-12-14 00:00:00',
 '2018-12-15 00:00:00',
 '2018-12-16 00:00:00',
 '2018-12-17 00:00:00',
 '2018-12-18 00:00:00',
 '2018-12-19 00:00:00',
 '2018-12-20 00:00:00',
 '2018-12-21 00:00:00',
 '2018-12-22 00:00:00',
 '2018-12-23 00:00:00',
 '2018-12-24 00:00:00',
 '2018-12-25 00:00:00',
 '2018-12-26 00:00:00',
 '2018-12-27 00:00:00',
 '2018-12-28 00:00:00',
 '2018-12-29 00:00:00',
 '2018-12-30 00:00:00',
 '2018-12-31 00:00:00']

In [20]:
timestamp_date_range = pd.to_datetime(string_date_range, infer_datetime_format=True)
timestamp_date_range

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2018-12-22', '2018-12-23', '2018-12-24', '2018-12-25',
               '2018-12-26', '2018-12-27', '2018-12-28', '2018-12-29',
               '2018-12-30', '2018-12-31'],
              dtype='datetime64[ns]', length=365, freq=None)

------

In [32]:
# Create date and time with dataframe 
rng = pd.DataFrame() 
rng['date'] = pd.date_range('1/1/2011', periods = 72, freq ='H') 
  
# Print the dates in dd-mm-yy format 
rng.head()

                 date
0 2011-01-01 00:00:00
1 2011-01-01 01:00:00
2 2011-01-01 02:00:00
3 2011-01-01 03:00:00
4 2011-01-01 04:00:00

In [27]:
# Create features for year, month, day, hour, and minute 
rng['year'] = rng['date'].dt.year 
rng['month'] = rng['date'].dt.month 
rng['day'] = rng['date'].dt.day 
rng['hour'] = rng['date'].dt.hour 
rng['minute'] = rng['date'].dt.minute 
  
# Print the dates divided into features 
rng.head(3)

        date  year  month  day  hour  minute
0 2011-01-01  2011      1    1     0       0
1 2011-01-02  2011      1    2     0       0
2 2011-01-03  2011      1    3     0       0

In [31]:
pd.to_datetime("09/12/2008", dayfirst=True)

Timestamp('2008-12-09 00:00:00')

In [44]:
rng['date'].dt.date.head(1)
rng['date'].dt.month.tail(1)
rng['date'].dt.year.tail(1)
rng['date'].dt.weekday_name.tail(1)
rng['date'].dt.dayofyear.tail(1)

0    2011-01-01
Name: date, dtype: object

71    1
Name: date, dtype: int64

71    2011
Name: date, dtype: int64

71    Monday
Name: date, dtype: object

71    3
Name: date, dtype: int64

In [51]:
# rng['date'].dt.day